.fade-up {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}

.fade-left {
    opacity: 0;
    transform: translateX(-40px);
    transition: all 0.8s ease;
}

.fade-right {
    opacity: 0;
    transform: translateX(40px);
    transition: all 0.8s ease;
}

.visible {
    opacity: 1 !important;
    transform: translateX(0) translateY(0) !important;
}